body {
    margin: 0 0 0 0 !important;
    padding: 0;
    background-color: #ffffff;
    color: black;
    font-family: "Courier New", "Lucida Console", monospace;
}

@import url('https://fonts.googleapis.com/css2?family=Kaushan+Script&display=swap');

hr{
  border: 3px dotted #ffd9c9;
}
a:link {
    color: #ffb84d;
    background-color: transparent;
    text-decoration: none;
    position:relative;
}

a:visited {
    color: #ffb84d;
    background-color: transparent;
    text-decoration: none;
}

a:hover {
    color: #FFEF91;
    background-color: transparent;
    top: -2px;
}

a:active {
    color: #FFEF91;
    background-color: transparent;
    text-decoration: underline;
}

.content {
  padding-top: 60px;
  margin-top: 30px ;
}

.top-content{
  background-color: black;
  color:white;
}

.toptext{
  margin-top: 50px;
  margin-bottom: 50px;
  padding-bottom: 10px;
  width: 85%;
  margin-right: auto;
  margin-left: auto;
  background-color: #ffd9c9;
  border-radius:1rem;
  color:black;
  text-align: center;

}

.img-cover{
  display:block;
  max-width: 50%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;
}

.storytext{
  text-align: left;
  font-family: "Georgia",monospace;
}

h1{
    font-family: 'Kaushan Script', "Lucida Console" cursive;
    font-size: 60px;
}
h2{
  font-family: 'Kaushan Script', "Lucida Console" cursive;
  text-align:center;
}

h3{
  font-size:50px;
}
