body {
    margin: 0 0 0 0 !important;
    padding: 0;
    background-color: white;
    color: black;
    font-family: "Courier New", "Lucida Console", monospace;
}

@import url('https://fonts.googleapis.com/css2?family=Kaushan+Script&display=swap');

a:link {
    color: #ffb84d;
    background-color: transparent;
    text-decoration: none;
    position:relative;
}

a:visited {
    color: #ffb84d;
    background-color: transparent;
    text-decoration: none;
}

a:hover {
    color: #FFEF91;
    background-color: transparent;
    top: -2px;
}

a:active {
    color: #FFEF91;
    background-color: transparent;
    text-decoration: underline;
}

.content {
  margin-top: 30px ;
}





h2{
  font-family: 'Kaushan Script', cursive;

}
